@font-face {
    font-family: 'Outfit';
    src: url('./Outfit-VariableFont_wght.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Outfit', 'Roboto', 'Arial Narrow', Arial, sans-serif
}

.myContainer {
    display: flex;
    flex-direction: row;
}

.nav {
    flex-grow: 0;
    flex-basis: 15%;
}

.content {
    flex-grow: 1;
    padding-left: 12px;
}

.taskCard {
    margin: 12px 0;
    border-bottom: 1px solid black;
    padding: 8px 0;

}

.taskTitle {
    font-size: 18px;
    margin-left: 4px;
}

.navProjectTitle {
    border-bottom: 1px solid #303030;
    padding: 8px 0;
}
/* @media (min-width) */