@font-face {
    font-family: 'Outfit';
    src: url('./Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    /* font-style: normal; */
    font-stretch: normal;
}

body {
    font-family: 'Outfit';
}

.myContainer {
    display: flex;
    flex-direction: row;
}

.myNav {
    flex-grow: 0;
    flex-basis: 15%;
}

.navHeader {
    color: #424242;
}

.content {
    flex-grow: 1;
    padding-left: 12px;
}

.taskCard {
    margin: 12px 0;
    border-bottom: 1px solid black;
    padding: 8px 0;

}

.taskTitle {
    font-size: 18px;
    margin-left: 4px;
}

.navProjectTitle {
    border-bottom: 1px solid #303030;
    padding: 4px 0;
    margin: 4px 0;
}

svg {
    vertical-align: top;
    padding: 2px;
    position: relative;
    top: 2px;
}

.newProjectButton {
    width: 100%;
    background-color: #333;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid;
    font-size: 14px;
}

.formWindow {
    display: block;
    position: fixed;
    z-index: 1;
}

.closeButton {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 18px;
    height: 18px;
}
/* @media (min-width) */